html,
body,
#root {
    width: 100%;
    height: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

canvas {
    opacity: 0;
    touch-action: none;
    animation: fade-in 3s ease 1s forwards;
}


a {
    text-decoration: none;
}

p {
    font-size: 1.2rem;
    margin: 0;
}

small {
    font-size: 1rem;
}

h1 {
    font-size: 5.5rem;
    font-weight: 300;
    padding: 5px 0px 0px 0px;
    margin: 0;
    color: transparent;
    user-select: none;
}

h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

.container {
    width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 20px;

    color: #f1f1f1;

    width: 60%;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */
}

.card-title {
    padding: 1rem;
}

.intro {
    width: 102%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.intro-portions {
    padding: 1rem 0.5rem;
    width: 100%;
}

.projects {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0;

    text-align: left;
    color: #f1f1f1;
}

.projects-portions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.project-title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.1rem;
}

.end {
    position: relative;
    bottom: 0;

    width: 100%;
    padding: 2rem 0 5rem 0;
}

img {
    transition: transform 0.1 s ease-in-out;
}

img:hover {
    transform: scale(1.2);
}

/* Media query for screens with a maximum width of 600px */
@media only screen and (max-width: 600px) {
    p {
        font-size: 1.2rem;
        margin: 0;
    }

    small {
        font-size: 1rem;
    }

    h1 {
        font-size: 5.5rem;
        font-weight: 300;
    }

    h2 {
        font-size: 2rem;
        font-weight: 300;
    }

    .container {
        top: 20vh;
        width: 100%;
        gap: 3rem;

        max-height: 170vh;
    }

    .card {
        width: 95%;
    }

    .projects {
        gap: 1rem;
        padding: 1rem 0;
    }

    .projects-portions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f166;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7e0f0f66;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7e0f0f66;
}

@media only screen and (max-width: 600px) {

    /* width */
    ::-webkit-scrollbar {
        display: none;
    }
}